.page-header{
	font-size: 48px;
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	text-align: center;
	padding-right: 3px; /* compensate for extra left padding */
}

.board {
	display: block;
	margin: 0px auto;
	width: 405px;
	padding-left: 3px; /* compensate for extra right padding */
}

.square {
	height: 125px;
	width: 130px;
	display: inline-block;
	margin-right: 1px;
}

.blank {
	background-color: #e9e9e9;
	cursor: pointer;
	transition-duration: 200ms;
}

.blank:hover{
	opacity: .5;
}

.player1 {
	background-color: #db3485;
	transition-duration: 200ms;
}

.player2 {
	background-color: #85d710; 
	transition-duration: 200ms;
}

.button_container {
	width: 95%;
	margin: 0px auto;
}

.score {
	padding: 15px;
	margin: 20px 0px;
	width: 49.5%;
}

#player1 {
	float: left;
}

#player2 {
	float: right;
}

.score, #reset {
	cursor: default;
	color: white;
	font-size: 20px;
	border: 0px;
	text-align: center;
}

#reset {
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	clear: both;
	margin: 0px auto;
}

.active:hover{
	opacity: .8;
}

.active {
	background-color: #0f85db; 
	cursor: pointer;
}

.focus {
	text-decoration: underline;
	transition-duration: 200ms;
}

zdiv {
	border: 1px solid green;
}
