body {
	background-color: black;
}

#instructions {
	font-size: 14px;
	color: #77787a;
	text-align: center;
	margin-top: 10px;
}

#peek-btn:hover, #peek-btn:active {
	background-color: #5a5a5a;
	color: white;
}

#peek-btn {
	float: right;
}

.active-btn {
	background-color: #5a5a5a;
	color: white;
}

#text_editor {
	width: 60%;
	resize: none;
	background-color: black;
	font-size: 150px;
	font-weight: lighter;
	text-align: right;
	overflow: none;
	margin: 50px 0px 0px 0px;
	border: 0px solid #333;
	padding: 20px;
	color: #000;
  text-shadow: 0px 0px 0px #fff;
  -webkit-text-fill-color: transparent;
}

#text_editor:focus, #peek-btn:focus {
	outline: 0;
}

#saved_text {
	margin-top: 100px;
	color: #5a5a5a;
	text-align: center;
}

#floating_words {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

/* ----------- iPhone 4 through 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	#text_editor {
			width: 300px;
			font-size: 70px;
			margin: 0px;
			margin-right: 40%;
			text-align: right;
		}

		#floating_words {
			top: 200px;
		}

}
