.ui-toolkit body {
	background-color: #f8f8f8; #838B8B; #E1E3E4;
	width: 1024px;
	margin: 0px auto;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.hide {
	display: none;
}

.show {
	display: all;
}


/*
 ****************
 * = Header
 ****************
*/  

#header {
	color: #fff;
	background-color: #4cbbd3;
	padding: 0.5px 0px 35px 1px;
}

#header h2 {
	margin-left: 20px;
	font-weight: bold;
	margin-top: 12px;
	margin-bottom: 10px;
}

/*
 * =Directory Menu
*/  

.menu_icon {
	margin: 5px 15px 0px 10px;
	position: absolute;
	top: 10px;
	right: 95px;
	float: right;
	z-index: 6666;
	padding: 6px 8px;
	zbackground-color: #777;
	zopacity: .5;
}

.menu_icon:after {
	content: 'Customers A-Z';
	font-size: 13px;
	color: #fff;
	margin-left: 3px;
	font-weight: bold;
}

#dir {
	background-color: #fff; #f2f2f2; 
	padding: 10px 20px 20px 0px;
	line-height: 2.5;
	overflow-y:scroll;
	height: 700px;
	position: absolute;
	top: 1px;
	right: 3px;
	z-index: 888888;
	zborder-radius: 5px;
	margin-left: 10px;
	box-shadow: 5px 0px 30px 1px #888;
	font-weight: bold;
	font-size: 13px;
	opacity: 0.95;
}

#dir a {
	color: #333;
	text-decoration: none;
}

#dir a:hover {
	color: #666;
}

/*
 ****************
 * =Map & Product filters
 ****************
*/  

#filter_container {
	width: 1024px;
	height: 320px;
	margin: -33px auto 20px;
	background-color: #fff;
	padding: 30px 0px 10px;
}

/*
 * =Map
*/ 
#map_container {
	float: left;
	padding-left: 60px;
}

#map {
	width: 361px; 
	height:272px;
}

#products_container {
	float: left;
	padding-left: 40px;
	padding-right: 60px;
	margin-left: 30px;
	border-left: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
}

#consortia_container {
	float: left;
	padding-left: 40px;
}

.filter-btn {
	background-color: #d8d8d8;
	margin: 2px; 
	width: 145px;
}

.filter-btn img {
	margin: 2px 10px;
}

.filter-btn:hover {	
	background-color: #bababa;
	cursor: pointer;
	color: #fff;
}

.button_group {
	margin-left: 20px;
}


.clearfix {
	clear: all;
}

/*
 ****************
 * =Customer cards Container
 ****************
*/  

#main_area {	
	background-color: #e2e0d4; 
}

#content_container {
	width: 990px;
	height: 3500px;
	margin: 0px auto;
	padding-top: 5px;
}
 
#details_header {
	font-size: 16px;
	font-weight: bold;
	padding: 3px 0px 3px 25px;
	color: #fff; #3A3A38; #3e3f40;
	background-color: #3A3A38 ;#444; #0a8eac; #c69e3b; #444; #E1E3E4;
	zborder-bottom: 20px solid #5a5a5a;
	margin-top: -20px;
}

.cust_details {
	float: left;
	padding: 30px 40px;
	background-color: #fff; 
	margin: 12px 6px 0px 6px;
	width: 318px;
	height: 265px;
	color: #333;
	border-radius: 2px;
	border: 1px solid #bbb;
}

.cust_details img {
	margin: 0px 15px 10px 0px;
	float: left;
	height: 52px;
}

.line:before {
	content: url('../img/hr.png');
}

.motto {
	font-style: italic;
	padding: 7px 0px 3px;
}

.motto:before {
	content: "\"";
}

.motto:after {
	content: "\"";
}

