html {
	background-color: #93c7d2; #dedede;
	min-height: 1500px;
}

.hide {
	display: none;
}

.show {
	display: all;
}


/*
 ****************
 * =Page Header
 ****************
*/  

#header_container {
	background-color: #4cbbd3;
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 0px 80px;
}

#header {
	color: #fff;
}

/*
 ****************
 * =Menu
 ****************
*/  

.menu_icon {
	content: url('../img/menu-icon.png');
	height: 34px;
	margin: 3px;
}

#dir {
	background-color: #333; 
	padding: 20px 40px 20px 30px;
	line-height: 1.8;
	overflow-y:scroll;
	position: absolute;
	left: 85px;
	top: 55px;
	color: #f1f1f1;
	border: 1px solid #222;
	z-index: 888888;
}

#dir a {
	color: #f1f1f1;
}

#dir_link {
	float: left;
}


/*
 ****************
 * =Beacon Map
 ****************
*/  

#map_container {
	background-color: #FFF;
	height: 330px;
}

#map {
	width:400px;
	height:240px;
	margin: 0px auto;
	position: relative;
	top: 100px;
	zz-index: 2;
}

#map_overlay {
	position:relative;
	top:-350px;
	left:-10px;
	width:460px;
	height:300px;
	margin: 20px auto 0px;
	zborder: 1px solid gray;
	z-index: 1;
}


.dot::after {
	content: url('../img/twodots.jpg');
}

/*
 ****************
 * =Content Container
 ****************
*/  
#content_container {
	width: 900px;
	margin: 0px auto;
}
 
#details_header {
	position: relative;
	top: 30px;
	font-size: 16px;
	font-weight: bold;
	margin: 30px 0px;
	color: #fff;
}

.cust_details {
	float: left;
	padding: 20px;
	background-color: #fff; #dcdcdc; 
	margin: 30px 27px 0px 0px;
	width: 273px;
	height: 260px;
	color: #333;
}

.cust_details > img {
	margin: 0px 15px 10px 0px;
	float: left;
	height: 40px;
}

.line {
	content: url('../img/hr.png');
	width: 235px;
}

.motto {
	font-style: italic;
	padding: 7px 0px 3px;
}

/*
* =Footer
*/
#footer {
	background-color: #fff;
	height: 50px;
}
