html {
	background-color: #333;  #f2f2f2; 
	width: 915px;
	margin: 0px auto;
}

.ui-toolkit body {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 0px;
	margin: 0px;
}

.hide {
	display: none;
}

.show {
	display: all;
}


/*
 ****************
 * = Header
 ****************
*/  

#header {
	color: #fff;
	background-color: #4cbbd3;
	border-bottom: 1px solid #aaa; 
	width: 914px;
	z-index: 7777777;
	margin-top: -20px;
	padding: 10px 0px 0px;
}

#header h2 {
	text-align: center;
}

/*
 * =Directory Menu
*/  

.menu_icon {
	width: 120px;
	margin: 8px 15px 0px 15px;
	position: relative;
	top: -50px;
	z-index: 6666;
	zborder: 1px solid #ccc;
	padding: 6px 8px;
	box-shadow: 1px 1px 1px 0px #888;
}

.menu_icon:after {
	content: 'Customers';
	font-size: 13px;
	color: #fff;
	margin-left: 3px;
	font-weight: bold;
}

#dir {
	background-color: #fff; #f2f2f2; 
	padding: 10px 20px 20px 0px;
	line-height: 2.2;
	overflow-y:scroll;
	height: 700px;
	position: fixed;
	top: 0px;
	left: -10px;
	zcolor: #555;
	zborder: 1px solid #888;
	z-index: 888888;
	zborder-radius: 5px;
	margin-left: 10px;
	zfont-weight: bold;
	box-shadow: 5px 0px 30px 1px #888;
	font-weight: bold;
}

#dir a {
	color: #333;
	text-decoration: none;
}

#dir a:hover {
	font-weight: normal;
}

/*
 ****************
 * =Map & Product filters
 ****************
*/  

.ui-toolkit h5 {
	 font-weight: bold;
	 margin-left: -40px;
	 margin-bottom: 25px;
	 margin-top: 25px;
}

/*
 * =Map
*/ 
#map_container {
	background-color: #FFF;
	float: left;
	padding: 0% 11% 0% 14%;
	margin-top: -40px;
}

#map {
	width:370px;
	height:220px;
}

/*
 * =Product filters
*/ 
#products_container {
	border-left: 1px solid #aaa;
	float: left;
	padding: 0% 8%;
	margin-top: -40px;
}

#product-btn {
	background-color: #fff;
	border: 1px solid #333;
	margin-bottom: 2px;
	width: 105px;
	ztext-align: center;
}

#product-btn img {
	zmargin-right: 10px;
}

#product-btn:hover {	
	background-color: #ccc;
}

.clearfix {
	clear: all;
}

/*
 ****************
 * =Customer cards Container
 ****************
*/  
#content_container {
	background-color: #b3d7df;  #e9e9e9; #b3d7df; #93c7d2;
	height: 3500px;
	border-top: 1px solid #ddd;
	padding: 0px 15px;
}
 
#details_header {
	font-size: 14px;
	padding: 5px 0px 5px 12px;
	color: #3e3f40;
}

.cust_details {
	float: left;
	padding: 20px 25px;
	background-color: #fff; 
	margin: 0px 0px 15px 15px;
	width: 275px;
	height: 260px;
	color: #333;
	zborder: 1px solid #ccc;
}

.cust_details img {
	margin: 0px 15px 10px 0px;
	float: left;
	height: 52px;
}

.line:before {
	content: url('../img/hr.png');
}

.motto {
	font-style: italic;
	padding: 7px 0px 3px;
}


