/*
  Blog 
*/
p {
  margin: 20px 0px;
}

#tagline {
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  line-height: 1.5em;
  color: #46b7fa;
  font-size: 14px;
  margin: 15px 0px 10px 0px;
}

.fb_iframe_widget span {
  display: inline;
}

.main_article, .col-sm-9 {
  background-color: #fff;
}


.date {
    font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
    color: #bfbfbf;
    font-size: 14px;
    zdisplay: inline;
    zmargin-bottom: 15px;
}


.blog_title_container, .title {
  margin-top: 10px;
}

.blog_title, .title  {
  font-size: 38px;
  font-weight: bolder;
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
}

figure {
  text-align:center;
  margin: 10px auto;
  display: table;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  background: #fff;
  padding: 5px 0px 0px 0px;
  color: #666;
}


img {
  max-width: 100%;
}

.img_border img {
  border: 3px solid white;
}

.fb-like {
  margin-top: 20px;
}

.fb-share-button {
  margin-bottom: 20px;
} 

#twitter iframe {
  margin-bottom: -5px; /* hack to make it same parallel as fb button */
}

/*
  Menu 
*/ 

#menu_heading {
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  padding: 2px 5px;
  color: #f3b128;
  zcolor: #fff;
}

#sidemenu{
  padding-left: 20px;
}

.menu_item {
  margin: 32px 0px 32px;
  zborder: 1px solid #b6b6b6;
  position: relative;
  top: 0px;
  min-height: 150px;
  max-height: 180px;
}

.menu_item:hover {
  box-shadow: 0px 0px 0px 1px; 
}

.menu_item figure {
  overflow: hidden;
  max-height: 170px;
  display: block;
  margin: 0px;
  border: 0px;
  width: 100%;
}

.menu_item img {
  min-width: 100%;
}

.article_title_container {
  background-color: #fff;
  padding: 5px 7px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}


.article_title {
  zcolor: #3f3f3f;  /* override hyperlink color */
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;  /* use header font */
  font-size: 17px;
  font-weight: bolder;
}

.article_subtitle {
  font-size: 12px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom:5px; 
}

@-moz-document url-prefix() {  /* hack to deal with ff not know max-width */
  img {
     max-width: 520px;
  }

  .menu_item img {
    max-width: 140px;
  }
}


