/*
  Blog 
*/

body {
  background-color: #efefef;
}

.main_article, .col-sm-9 {
  background-color: #fff;
}

#tagline {
  margin-top: 10px;
  zmargin-left: 5px;
  margin-bottom: 10px;
}

.date, #tagline {
    font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
    line-height: 1.5em;
    color: #222;
    font-size: 14px;
}

.date {
  margin-top: 20px;
}


.blog_title_container, .title {
  padding-top: 10px;
  padding-bottom: 15px;
border-bottom: 2px solid #E7B83B;
  margin-top: 10px;
  margin-bottom: 20px;
}

.blog_title, .title  {
  font-size: 30px;
  color: #222;
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
}

figure {
  text-align:center;
  margin: 10px auto;
  display: table;
  max-width: 100%;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  background: #fff;
  padding: 5px 0px 0px 0px;
}


img {
  max-width: 100%;
}

.img_border img {
  border: 3px solid white;
}

.fb-like {
  margin-top: 20px;
}

.fb-share-button {
  margin-bottom: 20px;
} 

#twitter iframe {
  margin-bottom: -5px; /* hack to make it same parallel as fb button */
}

/*
  Menu 
*/ 

#menu_heading {
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bolder;
  margin: 20px 0px 0px 30px;
}

#sidemenu{
  padding-left: 20px;
  border-left: 2px solid #bababa;
}


#sidemenu figure {
  overflow: hidden;
  max-height: 80px;
  display: block;
  margin: 0px;
  border: 0px;
  min-width: 100%;
}

.menu_item img {
  min-width: 100%;
}

.menu_item {
  margin: 25px 0px;
  border: 1px solid #f1f1f1;
  transition-property: opacity;
  transition-duration: .25s;
  transition-timing-function: ease-out;
}

.menu_item:hover {
  opacity: .75;
}

.article_title {
  background-color: #fff;
  padding: 5px 7px;
  min-height: 80px;
  color: #3f3f3f;  /* override hyperlink color */
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bolder;
}

.article_subtitle {
  font-size: 12px;
  font-weight: normal;
  margin-top: 5px;
}




