#quiz ul {
	display: inline;
	float: left;
	list-style-type: none;
}

#quiz img {
	width: 50%;
	float: left;
}

#quiz li {
	list-style: none;
	font-family: 'Arial', sans-serif;
	font-size: 18px;
	margin-bottom: 15px;
	background-color: pink;
	padding: 10px 15px;
	position: relative;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

#quiz li:hover {
	transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
	background-color: red;
}


#quiz {
	position: absolute;
}

#blackout {
	position: absolute;
	top: 60px;
	left: 100px;
	height: 100px;
	width: 180px;
	background-color: #111;
	z-index: 300;
}