
.featuredimg img, .featuredmore img {
	margin: 0px auto;
}

.featured .date {
	background-color: #fff;
	margin: 2px 4px;
	color: #989898;
	font-weight: normal;
}

figure {
	margin: 0px;
}

p .blurb {
	margin: 0px auto;
}


h3#morearticles {
	zpadding: 2px 4px;
	margin-top: 55px;
	font-size: 20px;
	letter-spacing: -2px;
	font-weight: 600;
	zborder-bottom: 2px solid #484745;
}

.featuredmore {               /* row of articles */
	float: left;
	width: 33.33%;
	padding: 0px 25px 0px 25px;   
	margin-bottom: 50px;
	font-weight: bold;
}


.featuredmore p {
	font-size: 14px;
	color: #3b3b3b;
}


@-moz-document url-prefix() {  /* hack to deal with ff not know max-width */
  img {
     max-width: 220px;
  }

  .menu_item img {
    max-width: 140px;
  }

  .featured img {
  	max-width:610px;
  	overflow: hidden;
}

#menu_heading {
	margin-top: 0px;
}
