.featured {
	position: relative;
	height: 400px;
	overflow-y: hidden;
}

.featured #headline {
	position: absolute;
	bottom: 0px;
	background: #fff;
	width: 100%;
}

.featuredimg {
	width: 100%;
  position: absolute;
}

.featuredimg img {
	width: 100%;
	overflow-y: hidden;
}

.feature .date {
	position: absolute;
}

.date {
	margin-top: 10px;
	margin-bottom: 5px;
	color: #989898;
	display: block;
}

figure {
	margin: 0px;
}

a>.title , h3 a, h3 a:hover, .blurb {         /* get rid of hyperlink blue */
	color: #3f3f3f;
	text-decoration: none;
}

p.blurb {
	display: inline;
}

h3#morearticles {
	border-bottom: 2px solid #f3b128;
	color: #f3b128;
	padding: 16px 0px 5px;
	margin-bottom: 25px;
}

.featuredmore {               /* row of articles */
	float: left;
	width: 33.33%;
	padding: 0px 25px 0px 25px;   /* the middle article gets padding on each side*/
}


.featuredmore:last-of-type {    /* last column don't pad right border */
	padding: 0px 0px 0px 25px;
}

.featuredmore:first-of-type {  /* first column don't pad left border */
	padding: 0px 25px 0px 0px;
}


.featuredmore p {
	font-size: 14px;
	color: #3b3b3b;
}

.featuredmoreimg {
	height: 120px;
	overflow: hidden;
}


@-moz-document url-prefix() {  /* hack to deal with ff not know max-width */
  img {
     max-width: 220px;
  }

  .menu_item img {
    max-width: 140px;
  }
}

#menu_heading {
	margin-top: 0px;
}
