.featured .title {
	background-color: #3a3a3a;
	margin-top: 0px;
	padding: 10px;
	color: #fff;
}


.featuredimg img, .featuredmore img {
	width: 100%;
	zoverflow-y: hidden;
	zmargin: 0px 40px;
	ztext-align: center;
}

.feature .date {
	position: absolute;
}

.date {
	margin-top: 10px;
	margin-bottom: 5px;
	color: #989898;
	display: block;
}

figure {
	margin: 0px;
}

a>.title , h3 a, h3 a:hover, .blurb {         /* get rid of hyperlink blue */
	color: #3f3f3f;
	text-decoration: none;
}


h3#morearticles {
	border-bottom: 2px solid #f3b128;
	color: #f3b128;
	padding: 16px 0px 5px;
	margin-bottom: 25px;
	font-weight: bold;
}

.featuredmore {               /* row of articles */
	float: left;
	width: 33.33%;
	padding: 0px 25px 0px 25px;   
	margin-bottom: 50px;
	font-weight: bold;
}


.featuredmore p {
	font-size: 14px;
	color: #3b3b3b;
}


@-moz-document url-prefix() {  /* hack to deal with ff not know max-width */
  img {
     max-width: 220px;
  }

  .menu_item img {
    max-width: 140px;
  }
}

#menu_heading {
	margin-top: 0px;
}
