@import url(https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans);

/**********************

COLOR PALETTE
#f3b128 // gold
#46b7fa  // blue in title
#142afa  // link blue 
#bfbfbf // gray
#3f3f3f // paragraph font 
#222222 // header font

*************************/

/*
    Portfolio navigation (Data Viz, etc.)
*/
#subnav_container {
  background-color: #009ACD; 46b7fa; #605f5c;
}

ul#subnav_menu {
  padding: 20px 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

ul#subnav_menu li a { 
  padding-right: 35px;
  padding-left: 0px;
  font-size: 14px;
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  color: #fff;
} 

ul#subnav_menu li a:hover { 
  color: #ccdefe;
}

.page_title {
  font-size: 32px;
  color: #222;
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  margin: 20px 0px;
}

p {
  margin: 10px 5px;
}
  
/* 
    Portfolio body
*/


.category_title {
  font-size: 40px;
  letter-spacing: -3px;
  font-weight: bold;
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
}

h5 {
  zfont-weight: bold;
}

img {
  max-width: 100%;
}

figure {
    border: 1px solid #F0EDF2;
    display: flex;
}

.section {
  background-color: #e2e8ea; d8d6d0; 
  margin-bottom: 20px;
}

.category_body {
  margin-bottom: 120px;
}

.figure {
  border: 1px solid #F0EDF2;
  background-color: #fff; 
}

.figcaption {
  font-size: 13px;
  padding: 15px;
}

.clearfix {
  clear: all;
}




/* 
  Footer
*/
#footer_container {
  border-top: 1px solid #ccc;
  background-color: #efefef;
  font: bold 100% 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  height: 300px;
  letter-spacing: -1px;
  padding: 26px 0 10px 0;
  text-align: center; 
}  

#footer_container a { 
  color: #333;
}

#footer_container a:hover { 
  color: #888;
}





  
