/*
    Portfolio navigation (Data Viz, etc.)
*/
#subnav_container {
  background-color: #009ACD; 
}

ul#subnav_menu {
  padding: 20px 0px;
  margin-top: -20px;
  margin-bottom: 0px;
}

ul#subnav_menu li a { 
  padding-right: 35px;
  padding-left: 0px;
  font-size: 14px;
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  color: #fff;
} 

ul#subnav_menu li a:hover { 
  color: #ccdefe;
}

.page_title {
  font-size: 32px;
  color: #222;
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  margin: 20px 0px;
}

p {
  margin: 10px 5px;
}
  
/* 
    Portfolio body
*/

.category_title_container {
  font-size: 40px;
  letter-spacing: -3px;
  font-weight: bold;
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  margin-top: 70px;
}


h5 {    /* To highlight "Example: project name" */
  display: inline-block;
  background-color: #efefef;
  padding: 10px;
}

img {
  max-width: 100%;
}

figure {
    border: 1px solid #F0EDF2;
    display: flex;
    position: relative;
}

.section {  /* Gives background to figcaption with no margins or padding */
  background-color: #f5f3f1; d8d6d0; 
  margin-bottom: 20px;
}

.category_body { 
  margin-bottom: 120px;
}

.before {
  display: inline-block;
  background-color: #666;
  padding: 8px 15px;
  color: #fff;
  position: absolute;
  top: -10px;
  left: -1px;
  opacity: .9;
}

.figure {
  border: 1px solid #F0EDF2;
  background-color: #fff; 
}

.figcaption {
  font-size: 13px;
  padding: 15px;
}

.clearfix {
  clear: all;
}







  
