.quizimg, .quizopts {
	max-width: 100%;
	position: relative;
	top: 0px;
}

.quizimg img, .questionset {
	background-color: #fff;
	position: absolute;
	top: 0px;
}

.quizimg img {
	width: 100%;
}

.questionset ul {
	display: inline;
	list-style-type: none;
	margin-left: 20px;
}

.questionset ul li {
	list-style: none;
	font-family: 'Arial', sans-serif;
	font-size: 18px;
	color: #131313;
	margin-bottom: 10px;
	background-color: #fff;
	padding: 15px 15px;
	border-radius: 2px;
	border: 5px solid #ccc;
	transition-property: background-color, color;
	transition-duration: .75s;
	transition-timing-function: ease-out;
	cursor: pointer;
}

.questionset ul li:hover {
	transition-property: background-color, color;
	transition-duration: .4s;
	transition-timing-function: ease-out;
	background-color: #d5a21a; 
	zcolor: #fff;
}

#nextbtn {
	background-color: #0099bb;
	width: 200px;
	height: 70px;
	position:absolute;
	top: 300px;
	opacity: 0; /*start off invisble*/
	transition-property: opacity;
	transition-duration: .5s;
	transition-timing-function: ease-out;
}

#nextbtn:hover {
	background-color: #00aacc;
}

#nextbtn:after {
	content: "Next";
	padding: 50px;
}

.result_container {
	opacity: 0;
	transition-property: opacity;
	transition-duration: .7s;
	transition-timing-function: ease-out;
}


