@import url(https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans);

/**********************

COLOR PALETTE

#4DB4C6  // blue banner
#93CFEA  // light blue accent
#F0EDF2 // gray
#E7B83B // gold
#3f3f3f // paragraph font 
#222222 // header font
#0f3b99 // blue a hover

*************************/

/*
   Override HTML defaults
   TODO: double check these
*/
html { 
  height: 100%;
}

body { 
  font-family: Merriweather, serif;
  color: #3f3f3f;
  margin: 0;
  padding: 0;
}

p { 
  padding: 0 0 15px 0;
  zline-height: 1.7em;
  font-size: 16px;
  zletter-spacing: -1px;
  zfont-size: 100% 
}

img { 
  border: 0;
  max-width: 960px;
}

h1, h2 {
  font: normal 100% 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  line-height: 1.5em;
  color: #222;}


h1, h2 {
  margin: 20px 0px 2px;
}

h3 {
  margin: 10px 0px 10px;
}

a, a:hover { 
  text-decoration: none;
  color: #0f3b99;
}

ul { 
  line-height: 1.75em;
  font-style: normal;
  font-size: 100%;
}

/* 
    Site banner
*/

#header_container {
  background: #4DB4C6;
}

/* TODO: figure out why I can't set padding or margins around my name. */
#header { 
  width: 960px;
  margin: 0px auto;
  padding-top: 5px;
  zpadding-bottom: 20px;
  height: 80px;
}

#site_title a { 
  color: #93CFEA; 
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  font-size: 50px;
  letter-spacing: -6px;
}

#name { 
  color: #fff; 
}

/*
    Main menu/global nav
*/
  
ul#menu li.current a { 
  text-decoration: underline;
} 

ul#menu { 
  margin-top: 10px;
  float: right;
}

ul#menu li, ul#subnav_menu li { 
  list-style: none;
  display: inline;
}

ul#menu li a { 
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
  letter-spacing: -2px;
  padding-left: 10px;
  text-align: center;
} 

ul#menu li a:hover { 
  color: #f2f2f2;
  text-decoration: underline;
}

/*
    Portfolio navigation (Data Viz, etc.)
*/
#subnav_container {
  background: #F0EDF2;
  padding: 10px 0px;
}

ul#subnav_menu {   /* center the menu */
  width: 960px;
  margin: 0px auto;
}

ul#subnav_menu li a { 
  padding-right: 35px;
  text-align: left;
  font-size: 12.5px;
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  color: #6b6b6b;
} 

ul#subnav_menu li a:hover { 
  color: #888;
}

.page_title {
  font-size: 32px;
  color: #222;
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  margin: 20px 0px;
}
  
/* 
    Portfolio body
*/

.category_title_container {
  padding-top: 20px;
  padding-bottom: 15px;
  border-top: 2px solid #E7B83B;
  margin-top: 50px;
}

.category_title_container:first-of-type {
  border-top: 0px;
  padding-top: 0px;
  margin-top: 0px;
}

.category_title {
  font-size: 26px;
  color: #222;
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
}

.portfolio img {
  max-width: 100%;
}

.portfolio figure {
    border: 1px solid #F0EDF2;
    display: flex;
}

figcaption {
  font-size: 14px;
  background-color: #f7f7f7; #525659;
  padding: 15px;
  text-align: left;
}

/* About me and Contact title specific
   TODO: use category_title, like in blog
   */
#aboutme, #contact {
  padding-top: 30px;
  padding-left: 40px;
}



/* 
  Footer
*/
#footer_container {
  border-top: 1px solid #ccc;
  background-color: #F0EDF2;
  font: bold 100% 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  height: 300px;
  letter-spacing: -1px;
  padding: 26px 0 10px 0;
  text-align: center; 
}  

#footer_container a { 
  color: #333;
}

#footer_container a:hover { 
  color: #888;
}





  