@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,800,700|Merriweather);

/**********************

COLOR PALETTE
#f3b128 // gold
#46b7fa  // blue in title
#142afa  // link blue 
#bfbfbf // gray
#3f3f3f // paragraph font 
#222222 // header font
#f1eee8; // side menu background

*************************/

/* Override HTML defaults */
body { 
  font-family: Merriweather, serif;
  color: #3f3f3f;
  background-color: #f1eee8;
}

p { 
  font-size: 16px; 
  zmargin: 20px auto;
  zwidth: 90%; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  line-height: 1.4em;
  zfont-weight: 800;
  color: #222;
}

a, a:hover {
  text-decoration: none;
  color: #142afa;
}


/* Header */
#header_container {
  zbox-shadow: 0px 0.5px 6px .5px;
  padding: 5px 0px 5px;      /* some breathing room before the gray bar */
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}


#site_title {
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  font-size: 34px;
  font-weight: 800;
  letter-spacing: -3px;
  float: left;
  margin-right: 30px; /* never touch the menud */
  ztext-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

}

#name, .name {                /* my name color */
  color: #f3b128; 
}

#site_title a {        /* UX DESIGNER color */
  color: #46b7fa;
 }


/*   Main menu/global nav */
ul#menu { 
  float: right;
  margin-top: 6px; /* compensate for the site title having auto-line spacing */
}

ul#menu li, ul#subnav_menu li { 
  list-style: none;
  display: inline;
}

ul#menu li a { 
  font-family: 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #46b7fa; 
  letter-spacing: -1px;
  padding-left: 15px;
  text-align: center;
} 

ul#menu li a:hover { 
  color: #f3b128; 
  text-decoration: underline;
}

ul#menu li.current a { 
  text-decoration: underline;
  color: #f3b128; 
} 

@media(max-width:992px) {   /* when navlinks go to next line, float left */
    ul#menu {
      float: left;
      -webkit-padding-start: 0px;
    }

    ul#menu li a { 
      padding-left: 0px;
      padding-right: 20px;
      font-size: 13px;
    }
}


/*  Footer */
#footer_container {
  border-top: 1px solid #ccc;
  background-color: #efefef;
  font: bold 100% 'Merriweather Sans', 'Open Sans', Helvetica, sans-serif;
  height: 300px;
  letter-spacing: -1px;
  padding: 26px 0 10px 0;
  text-align: center; 
}  

#footer_container a { 
  color: #333;
}

#footer_container a:hover { 
  color: #888;
}




  