html
{ height: 100%;
min-width: 1000px;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 100% Helvetica, sans-serif;
  color: #333;}

p
{ padding: 0 0 15px 0;
  line-height: 1.7em;
  letter-spacing: -1px;
  font-size: 100% }

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% Helvetica, sans-serif;
  color: #555152;
  letter-spacing: -1px;
  margin: 0 0 10px 0;
  padding: 5px 0 0 0;}

h2
{ font: normal 165% Helvetica, sans-serif;
  color: #555152;
}

h3
{ font: normal 100% Helvetica, sans-serif;}

h3 a, h3 a:hover
{ 
  zcolor: #efffcd;
}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 150%  Helvetica, sans-serif;
  line-height: 1.5em;}

h5, h6
{ font: normal 95% Helvetica, sans-serif;
  color: #555152;
  padding-bottom: 15px;}


a, a:hover
{ background: transparent;
  outline: none;
  text-decoration: none;
  color: #0f3b99;
}

a:hover
{ text-decoration: underline;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.75em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #banner, #menubar, #site_content, #footer, #subheader, .category_body
{ margin-left: auto; 
  margin-right: auto;}

#header_container {
  background: #edefef;
  border-bottom: 1px solid #dfdfdf;
}

#subnav_container {
  background: #565656;
}

#header
{ width: 1000px;
  height: 55px;
  padding: 10px 0px;
}

#subnav {
  padding-top: 15px;
  padding-bottom: 10px;
  color: #efefef;
  width: 960px;
  margin: 0px auto;
}

#subnav a {
  color: #efefef;
  font-size: 13px;
}

#welcome
{ width: 525px;
  float: left;
} 

#welcome, #subnav, #site_content, #footer, .category_body, .category_title {
  padding-left: 40px;
}

  
#welcome h1
{ font: normal 250% Helvetica, sans-serif;
  color: #4ccbd3; #b3b242; #FFF;
  letter-spacing: -3px;
  text-shadow: 1px 1px #ddd;}

span  
{ color: #555152; 
  text-shadow: 1px 1px #aaa;
}

#welcome a:hover {
  text-decoration: none;
}

ul#menu
{ 
  margin: 0;
  float: right;
  padding-top: 12px;}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  display: inline;
  background: transparent;}

ul#menu li a
{ font: bold 100% Helvetica, sans-serif;
  color: #333;
  float: left;
  letter-spacing: -1px;
  padding: 15px 20px 10px 20px;
  text-align: center;
  text-decoration: none;} 

ul#menu li a:hover
{ color: #555152;
  text-decoration: underline;
  ztext-shadow: 1px 1px #2e2633;}
  
ul#menu li.current a
{ color: #999;
}
  

.category_title_container {
  background-color: #f2f2f2;
}

.category_title {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 960px;
  margin: 0px auto;
  font-size: 22px;
}

#site_content, .category_body
{ width: 1000px;
  overflow: scroll;
  margin: 0px auto 40px;
  padding-top: 20px;
 } 


#image_container  
{ width: 1000px;
  min-height: 500px;}

#text_content
{ float: right;
  width: 455px;
  padding: 0; 
  margin: 0 20px 0 0px;}
  
#text_content h3
 { color: #555152;
}
  
.static_image
{ float: left;
}  

figcaption {
  font-size: 13.5px;
  margin-top: 10px;
}

#footer_container {
  background: transparent;
  border-top: 1px solid #ccc;
  background-color: #666;
  padding-bottom: 30px;
}  

#footer
{ font: Helvetica, sans-serif;
  width: 1070px;
  letter-spacing: -1px;
  padding: 26px 0 10px 0;
  text-align: center; 
}

#footer a, #footer a:hover
{ text-decoration: none;
  color: #f1f1f1;}

#footer a:hover
{ text-decoration: underline;
  color: #aaa;}

.footer_container_box
{ font: normal 90% Helvetica, sans-serif;
  width: 325px;
  padding: 5px;
  text-align: center;
  margin: 10px 10px 10px 10px;
  float: left;
  background: transparent;}
  
.footer_container_box h4
{  color: #f1f1f1;}

.footer_container_box a
{  color: #f1f1f1;}

.footer_container_box a:hover
{  color: #f1f1f1;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 120px;
  text-shadow: none;
  color: #f1f1f1;}
  
.form_settings input, .form_settings textarea
{ padding: 2px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings input[type="checkbox"]
{ padding: 2px 0; 
  width: 15px; 
  font: 100% arial; 
  border: 0; 
  background: #FFF; 
  color: #47433F;
  margin: 28px 0;}

.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 325px; 
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #5082BD; 
  color: #FFF;} 


  